/*============ Google fonts ============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*======= CSS variables =======*/
:root{
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #fff;
  --navigation-item-hover-color: #3b5378;

  --text-shadow: 0 5px 25px rgba(0,0,0,0.1) ;
  --box-shadow: 0 5px 25px rgb(0 0 0 /20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: #49E499;
  --scroll-thumb-hover-color: #76ffbd;
}

/*======= Scroll bar =======*/

::-webkit-scrollbar{
  width: 11px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb{
  width: 100%;
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--scroll-thumb-hover-color);
}

::selection{
  background-color: #49E499;
}

/* =========modo oscuro========= */

/*======= Main CSS =======*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color:  var(--body-bg-color);
}

section{
  position: relative;
}

.section{
  color: var(--dark-color);
  background: var(--section-bg-color);
  padding: 35px 200px;
  transition: 0.3s ease;
}

/*======= Header =======*/
header{
  z-index: 999;
  position: fixed;
  width: 100%;
  height: calc(5rem + 1rem);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  transition-property: height, background, img;
}

header.sticky{
  height: calc(2.5rem + 1rem);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header.sticky .nav-bar a{
  color: var(--dark-color);
}

header.sticky img{
  height: 90%;
}

header .nav-bar{
  z-index: 999;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  transition: 0.3 ease;
}

.nav-close-btn, .nav-menu-btn{
  display: none;
}

.navigation .nav-items a{
  color: var(--white-color);
  font-size: 1em;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.navigation .nav-items a i{
  display: none;
}

.navigation .nav-items a:not(:last-child){
  margin-right: 45px;
}

/*======= Home =======*/

.home{
  min-height: 100vh;
}

.home:before{
  z-index: 888;
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--section-bg-color));
}

/*======= Background slider =======*/
.bg-slider{
  z-index: 777;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.bg-slider .swiper-slide{
  position: relative;
  width: 100%;
  height: 100vh;
}

.bg-slider .swiper-slide img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}

.swiper-slide .text-content{
  position: absolute;
  top: 25%;
  color: var(--white-color);
  margin: 0 200px;
  transition: 0.3s ease;
}

.swiper-slide .text-content .title{
  font-size: 4em;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0;
}

.swiper-slide-active .text-content .title{
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content p{
  max-width: 300px;
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(20px);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-right: 1px solid rgba(255,255,255,0.1);
  box-shadow: var(--box-shadow);
  text-align: center;
  transform: translate(-80px);
  opacity: 0;
}

.swiper-slide-active .text-content p{
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn{
  border: none;
  outline: none;
  background-color: #49E499;
  color: var(--dark-color);
  font-size: 1em;
  font-weight: 500;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-top: 50px;
  cursor: pointer;
  transform:  translate(50px);
  opacity: 0;
}

.swiper-slide-active .text-content .read-btn{
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn i{
  font-size: 1.6em;
  transition: 0.3s ease;
}

.swiper-slide .text-content .read-btn:hover i{
  transform: translateX(5px);
}


.dark-layer:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.2);
}

.bg-slider-thumbs{
  z-index: 777;
  position: absolute;
  bottom: 7em;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
}

.thumbs-container{
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 10px 3px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-right: 1px solid rgba(255,255,255,0.1);
  box-shadow: var(--box-shadow);
}

.thumbs-container img{
  width: 50px;
  height: 35px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.swiper-slide-thumb-active{
  border: 1px solid var(--white-color);
}

/*======= Media icons =======*/

.media-icons{
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 90px;
}

.media-icons a{
  color: var(--white-color);
  font-size: 1.7em;
  margin: 10px 0;
}

/*======= services section =======*/

.services{
  position: relative;
  padding: 0;
  /* background-color: var(--body-bg-color); */
}

.services::before{
  position: absolute;
  content: '';
  display: block;
  width: 50%;
  height: 90%;
  background: linear-gradient(#49E499, #DEEEFE);
  /* clip-path: polygon(78% 22%, 64% 26%, 42% 41%, 26% 40%, 0% 35%, 0% 71%, 13% 83%, 25% 90%, 40% 95%, 60% 95%, 74% 90%, 86% 79%, 99% 60%, 100% 44%, 94% 29%); */
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

 }

.services h2{
  position: relative;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  z-index: 888;
}

.services-contenedor{
  margin: 80px 0px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: base-line;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  margin: 20px 20px;
  /* background-color: var(--body-bg-color); */
  width: 20%;
  height: 600px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: var(--box-shadow);
  z-index: 888;
}

.card img{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.card p{
  text-align: justify;
}

/*======= nosotros section =======*/


.nosotros h2{
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  position: relative;
}

.nosotros-container{
  margin: 80px 0px 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 50px;
}

.nosotros-container img{
  height: auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.nosotros-derecha{
  align-items: center;
  justify-content: space-between;
}
.nosotros-derecha h3{
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 50px;
}

.nosotros-derecha h3::after{
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #aaa;
  margin-bottom: 40px;
}

.nosotros-container p{
  text-align: justify;
  font-size: 1.2em;
}

/* ------sobre el terapeuta------- */
.terapeuta{
  padding-top: 80px;
}

.foto-terapeuta{
  width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.p-terapeuta{
  margin-bottom: 30px;
}
/* =========Seccion de los comentarios========== */

.reseñas{
  align-items: center;
  justify-content: center;
  margin: 60px 0 50px 0;
}

.reseñas h2{
  color: var(--white-color);
  text-shadow: var(--box-shadow);
  font-size: 3em;
  text-align: center;
  margin: 30px 0 40px 0;
}

.reseñas-swiper{
  width: 70%;
  height: auto;
  background: linear-gradient(#49E499, #5A98F2);
  border-radius: 30px;
  margin: 280px auto;
}

.reseñas-slide{
  box-sizing: border-box;
  display: flex;
  padding: 30px 200px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.reseñas-slide img{
  border-radius: 30px;
  width: 200px;
  height: 200px;
  box-shadow: var(--box-shadow);
  border: none;
}

.text-slide{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.text-slide h3{
  font-size: 2em;
  display: inline-block;
}

.text-slide h3::after{
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--dark-color);
}

.text-slide p{
  width: 500px;
} 


/* =============Seccion de contacto============ */

.contacto{
  align-items: center;
  padding: 20px;
  margin : 50px 0;
}

.contacto h2{
  text-align: center;
  font-size: 3em;
  margin-bottom: 50px;
}

.container-contacto{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.formulario-contacto {
  width: 30%;
}

.formulario-contacto form{
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}

.formulario-contacto form input, textarea{
  width: 100%;
  margin-bottom: 10px;
  padding: 2px 10px;
  background-color: #49E499;
}

.formulario-contacto form textarea{
  border-radius: 10px;
  height: 150px;
}

.formulario-contacto form input{
  border-radius: 10px;
}

.formulario-contacto form button{
  background-color: #49E499;
  width: 70px;
  padding: 5px;
  font-size: 0.9em;
  border-radius: 30px;
  border: 2px solid #49E499;
  cursor: pointer;
}

.formulario-contacto form button:hover{
  background-color: white;
  border: 2px solid #49E499;
}

.mapa-contacto iframe{
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}

/* ==========Seccion del footer=========== */
footer{
  padding: 20px 100px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#49E499, #5A98F2);
}


.container-footer{
  display: flex;
  align-items: initial;
  justify-content: space-around;
  flex-wrap: wrap;
}


.col-nav{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.col-nav a{
  text-decoration: none;
}

.col-especialidades{
  margin: 0;
}

.container-especialidades{
  width: 100%;
  display: flex;
}

.col-interna-1{
  margin-right: 20px;
}

.creador{
  text-align: center;
}

.creador span{
  color: red;
}

.creador a{
  color:black;
  text-decoration: underline;
}




/*======= Media queries (max-width: 1100px) =======*/

@media screen and (max-width: 1100px){
 
  header .nav-bar{
    padding: 0 50px;
  }

  .section{
    padding: 25px 50px;
  }

  .media-icons{
    right: 0;
    margin-right: 50px;
  }

  .swiper-slide .text-content{
    margin: 0 120px 0 50px;
  }

  .bg-slider-thumbs{
    bottom: 3em;
  }

  /* =========services seccion========= */
  .card{
    width: 45%;
  }

  /* =========nosotros seccion========= */

  .nosotros-container{
    align-items: center;
    justify-content: center;
  }

  .nosotros-derecha{
    align-items: center;
    justify-content: center;
  }

  .nosotros-derecha h3{
    margin-top: 30px;
    text-align: center;
  }

  .nosotros-derecha h3::after{
    width: 100%;
  }

  /* ========seccion de las reseñas========= */
  
  .reseñas-swiper h2{
    font-size: 2.5em;
  }

  .reseñas-slide img{
    align-items: center;
    margin: auto;
    padding: 0;
  }
  
  .text-slide{
    width: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .text-slide h3{
    margin: 30px 0;
    font-size: 1.5em;
  }

  .text-slide p{
    margin-bottom: 20px;
  }

  /* ---------footer---------- */
  footer{
    padding: 20px 50px;
  }
}




/*======= Media queries (max-width: 785px) =======*/
@media screen and (max-width: 785px) {

  .section{
    padding: 25px 20px;
  }

  .media-icons{
    margin-right: 20px;
  }

  .media-icons a{
    font-size: 1.5em;
  }

  .swiper-slide .text-content{
    margin: 0 70px 0 20px;
  }

  .swiper-slide .text-content .title{
    font-size: 3em;
  }

  .swiper-slide .text-content p{
    font-size: 0.9em;
  }

  /*======= About section =======*/

  .nav-menu-btn{
    display: block;
    color: var(--white-color);
    font-size: 1.5em;
    cursor: pointer;
  }

  .nav-close-btn{
    display: block;
    color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .navigation{
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transform: 0.3s ease;
  }

  .nav-bar img{
    height: 90%;
  }

  .navigation.active{
    visibility: visible;
    opacity: 1;
  }

  .navigation .nav-items{
    position: relative;
    background: var(--white-color);
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }

  .navigation.active .nav-items{
    transform: translateY(0);
  }

  .navigation .nav-items a{
    color: var(--dark-color);
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease;
  }

  .navigation .nav-items a i{
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }
  
  .swiper-slide .text-content .read-btn{
    font-size: 0.9em;
    padding: 5px 15px;
  }

  /*======= services section =======*/

  .about h2{
    font-size: 2.5em;
  }

  .about p{
    font-size: 0.9em;
  }

  .card{
    width: 100%;
  }

  .services::before{
    display: none;
  }

  /* =======seccion de nosotros========= */


  .nosotros-container{
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .nosotros-derecha{
    align-items: center;
    justify-content: center;
  }

  .nosotros-derecha h3{
    margin-top: 30px;
    text-align: center;
  }

  .nosotros-container img{
    width: 300px;
  }

  .nosotros-derecha h3::after{
    width: 100%;
  }

  .foto-terapeuta{
    width: 100%;
  }


  /* =========seccion de las reseñas========== */
  .reseñas{
    align-items: center;
    justify-content: center;
    margin: 60px 0 40px 0;
  }
  
  .reseñas h2{
    font-size: 2em;
    text-align: center;
    margin: 30px 0 40px 0;
  }
  
  .reseñas-swiper{
    width: 90%;
    height: auto;
    margin: auto;
  }
  
  .reseñas-slide{
    padding: 20px 0px;
    flex-wrap: wrap;
  }
  
  .reseñas-slide img{
    border-radius: 30px;
    width: 200px;
  }
  
  .text-slide h3{
    font-size: 1.5em;
    display: inline-block;
  }
  
  .text-slide p{
    width: auto;
    padding: 20px;
  }


  /* ============Seccion de contacto============ */
  
  .contacto h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
  }
  
  
  .formulario-contacto {
    width: 100%;
    margin-bottom: 40px;
  }
    
  .mapa-contacto iframe{
    width: 100%;
  }

  /* ========footer======== */
  footer{
    padding: 20px;
    height: auto;
  }

  .col-info, .col-nav{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
    width: 100%;
  }

  .col-nav{
    margin: 30px 0;
    font-size: 1em;
  }

  .col-especialidades{
    font-size: 1em;
  }

  .container-footer{
    display: flex;
    flex-wrap: column;
    margin: 0;
    padding: 0;
  }


  .creador{
    margin-top: 20px;
    font-size: 0.9em;
    border-top: 2px solid var(--dark-color);
    padding-top: 10px;
  }

}